EmployeeMgmtSilverlightApplication/EmployeeMgmtSilverlightApplication/Service References/ServiceReference1/EmployeeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employeeid" type="xs:int" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="ArrayOfEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entity" nillable="true" type="tns:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntity" nillable="true" type="tns:ArrayOfEntity" />
</xs:schema>